<!doctype html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ADS POAL</title>

    <link rel="stylesheet" type="text/css" href="/static/poal/external/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/poal/css/search-engine.css">
    <script type="text/javascript" src="/static/poal/external/underscore-min.js"></script>
    <script src="/static/poal/external/jquery/jquery-1.7.2.min.js"></script>
    <script src="/static/poal/external/jquery-ui-bootstrap/js/jquery-ui-1.8.16.custom.min.js"></script>
    <!--script src="external/d3/d3.v2.min.js"></script-->
    <link rel="stylesheet" type="text/css" href="/static/poal/external/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />
    <script type="text/javascript" src="/static/poal/external/bootstrap/js/bootstrap.min.js"></script>
    {% if poal %}
    <script type="text/javascript" src="/static/poal/external/sprintf.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/core/Core.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/core/AbstractManager.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/managers/Manager.jquery.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/core/Parameter.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/core/ParameterStore.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/core/ParameterHashStore.js"></script>
    <script type="text/javascript" src="/static/poal/js/ExtHashStore.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/core/AbstractWidget.js"></script>
    <script type="text/javascript" src="/static/poal/widgets/ResultWidget.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/helpers/jquery/ajaxsolr.theme.js"></script>
    <script type="text/javascript" src="/static/poal/js/poal.theme.js"></script>
    <script type="text/javascript" src="/static/poal/js/jquery.livequery.js"></script>
    <script type="text/javascript" src="/static/poal/widgets/PagerWidget.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/core/AbstractFacetWidget.js"></script>
    <script type="text/javascript" src="/static/poal/widgets/CurrentSearchWidget.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/helpers/ajaxsolr.support.js"></script>
    <script type="text/javascript" src="/static/poal/ajax-solr/helpers/ajaxsolr.theme.js"></script>
    <!--script type="text/javascript" src="ext/jquery-ui-1.8.1.custom.min.js"></script-->
    <link rel="stylesheet" type="text/css" href="/static/poal/external/jquery.autocomplete.css" media="screen"/>
    <script type="text/javascript" src="/static/poal/external/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/static/poal/widgets/AutocompleteWidget.js"></script>
    <script type="text/javascript" src="/static/poal/widgets/TagcloudWidget.js"></script>
    <script type="text/javascript" src="/static/poal/js/poal.js"></script>
    {% endif %}
</head>
<body>
  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand logo" href="/" style="padding: 5px;">
                <img src="/static/poal/images/adslogo_labs.jpg" alt="ADS Labs" height="36"/>
                  <span  style='padding-left: 20px;'>ADS Labs</span>
                </a>
                {% if not suppressed %}
                <form id="search" class="form-search search-fixed navbar-form">
                    <input type="text" id="query" class="input-medium search-query search-input">
                    <button type="submit" class="btn">Search</button>
                </form>
                {% endif %}
                <ul class="nav pull-right"> 
                  <li class="divider-vertical"></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Searches
                    <b class="caret"></b> 
                    </a>
                    <ul id="usermenu" class="dropdown-menu"> 
                      <li><a href="/poal">Explore</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Citation</a></li>
                      <li><a href="#">Full Text</a></li>
                      <li class="divider"></li>
                      <li><a href="/poal">Advanced</a></li>                   
                    </ul>
                  </li>
                  <li class="divider-vertical"></li>
                  {% if not session.logged_in %}
                  <li>
                        <a href="{{ url_for('login') }}" id="user" user="none">log in</a>
                  </li>
                  {% else %}
                  <li class=""><a href="/user/{{session.username}}/items/html">Saved</a></li>
                  <li class="divider-vertical"></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user" user="{{session.username}}">{{session.username}}
                    <b class="caret"></b> 
                    </a>
                    <ul id="usermenu" class="dropdown-menu"> 
                      <li><a href="/user/{{ session.username }}/profile/html">Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="/user/{{session.username}}/items/html">Saved</a></li>
                      <li><a href="#">MyADS</a></li>
                      <li class="divider"></li>
                      <li><a href="#addgroupdiv">New Collaboration</a></li>
                      <li class="nav-header"><a href="#">Collaborations</a></li>
                      <li class="divider"></li>
                      <li><a href="#addappdiv">Add/Create Application</a></li>
                      <li class="nav-header"><a href="#">Applications</a></li>                   
                    </ul>
                  </li>
                  <li class="divider-vertical"></li>
                  <li>
                    <a href="{{ url_for('logout') }}">log out</a>
                  </li>
                  {% endif %}
                  </li>
                  <li class="divider-vertical"></li>
                  <li class=""><a href="#">Help</a></li>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid row">
          {% block layoutbody %}{% endblock %}
        </div>
    </div><!--/.fluid-container-->


</body>
</html>

<!--div class=page>
  <h1>ADSGUT</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="/user/{{ session.username }}/profile/html">{{session.username}}</a> | 
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  
</div-->