{% extends "layout2.html" %}
{% block navbody %}
<ul class="nav nav-list">
    <li class="nav-header">Author</li>
    <div class="tagcloud" id="author_facet"></div>
    <li><br/></li>
    <li class="nav-header">Keyword</li>
    <div class="tagcloud" id="keyword_facet"></div>
    <!--li>
        <div class="tagcloud" id="author_facet"></div><br/><br/>
    </li>

    <li class="nav-header">Keyword</li><br/>
        <div class="tagcloud" id="keyword_facet"></div><br/><br/>
    </li-->
    <!--li>
        <div class="clear"></div><br/><br/>
    </li-->
</ul>
{% endblock %}

{% block pagebody %}
<br/>
<div class="row-fluid span12">
    <ul id="selection" class="breadcrumb"></ul>
</div>
<div class="row-fluid span12">
    <div id="result">
        <div id="navigation" class="pagination">
          <ul id="pager"></ul>
        </div>
         <div id="pager-header"></div>
        <div id="docs"></div>
    </div>
</div>
{% endblock %}

